@model MyApp.Models.Student

<!DOCTYPE html>
<html>
<head>
    <title>Student Page</title>
</head>
<body>
    <h1>Student Details</h1>

    <p> <b>ID:</b>@Model.Id</p>
    <p><b>Name:</b> @Model.Name</p>
    <p><b>Age:</b> @Model.Age</p>
</body>
</html>
